{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}

    <h1>Reset password</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/password/reset-password" method="POST">

        <input type="hidden" name="token" value="{{ token }}">

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"
                   pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                   title="Minimum 8 chars, at least one letter and number." required>
        </div>

        <button type="submit" class="btn btn-primary">Reset password</button>

    </form>

{% endblock %}
