{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <p>We got it! If you are registered in our system, you should receive the password reset email.</p>

{% endblock %}
