{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome</h1>

    {% if is_logged_in %}

        Hello {{ current_user.first_name }}.

        <a href="/logout">Log out</a>.

    {% else %}

        <a href="/register/new">Register</a> or <a href="/login">log in</a>

    {% endif %}

{% endblock %}
