{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    <p>Success! Your account is now active. You can now <a href="/login">log in</a>.</p>

{% endblock %}
