{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    <p>Success! Thank you for registering.</p>

    <p>Please check your email to activate your account.</p>

{% endblock %}
